{
  "env": {
    "browser": true,
    "node": true
  },
  "extends": ["airbnb", "prettier", "prettier/react"],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": "error",
    "jsx-quotes": [1, "prefer-double"],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "no-unused-vars": 0,
    "func-names": 0,
    "no-console": 0,
    "react/prop-types": 0
  }
}
